<navigation class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to 'Sample-CRUD', root_path, class: 'navbar-brand' %>
    </div>
        <ul class="nav navbar-nav pull-right">
          <li>
            <%= link_to new_post_path do %>
              <i class="glyphicon glyphicon-plus"></i>
            <% end %>
          </li>
        </ul>
    </div>
</navigation>
