<navigation class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-inner">
        <%= link_to 'Sample-Crud', root_path, class: 'brand' %>
        <%= link_to new_post_path, class: 'btn btn-default btn-lg pull-right' do%>
          <i class="glyphicon glyphicon-plus">New</i>
        <%  end  %>
    </div>
  </div>
</navigation>
